@charset "utf-8";

body{
    color: #707070;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

h1{
    text-align: center;
    display: inline-block;
}